* {
  margin : 0;
  padding : 0;
}

.vertical-scroll {
  scroll-snap-type: y mandatory;
  overflow-y : scroll;
}

.horizontal-scroll {
  scroll-snap-type: x mandatory;
  overflow-y : scroll;
  display: flex;
  width: 500vw;
}

.scroll-snap {
  display: flex;
  height: 100vh;
  width : 100vw;
  scroll-snap-align: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.scroll-snap h1 {
  width: 100%;
  color: #fff;
  font-size : 80px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

.scroll-snap.one {
  background-image : url(https://picsum.photos/800/600?section=1);
}

.scroll-snap.two {
  background-image : url(https://picsum.photos/800/600?section=2);
}

.scroll-snap.three {
  background-image : url(https://picsum.photos/800/600?section=3);
}

.scroll-snap.four {
  background-image : url(https://picsum.photos/800/600?section=4);
}

.scroll-snap.five {
  background-image : url(https://picsum.photos/800/600?section=5);
}
